# lang chain
langchain-core
langgraph == 0.2.28
langchain-community
langchain[openai]
langchain[anthropic]
langchain[google-genai]

# tools
langchain-google-community
duckduckgo-search
rizaio
beautifulsoup4
langchain-mcp-adapters
PyMuPDF

# dotenv
python-dotenv

# discord app
discord.py
openai

# utils
SymPy
charset-normalizer